.container {
    display: flex;
    box-sizing: border-box;
    height: 100%;
}

.form_container {
    margin: 0px auto;
    align-self: center;
    border: 3px solid green;
    width: 50%;
    padding: 20px 0;
}

.input_container {
    max-width: 300px;
    margin: 0px auto
}

.mat-form-field {
    width: 100%;
}

.form_button {
    margin: 0px auto;
    display: block;
    width: 40%;
    margin-top: 10px;

}

